<div class="team">
    <div class="team-header">
        <h3><img data-rvsf-src="https://cloud.githubusercontent.com/assets/5359646/12695181/369cda90-c745-11e5-96eb-3f3669f80aed.png"
        src="https://cloud.githubusercontent.com/assets/5359646/12695180/369c86da-c745-11e5-817f-46d8c4c42376.png"/></h3>
        <div class="result">
            <span class="score">20</span>
            <span class="subscore">120</span>
        </div>
    </div>
    <div class="players">
        <ol>
        </ol>
    </div>
</div>
