@(clanwar: com.actionfps.clans.ClanwarMeta, showPlayers: Boolean)(implicit clanner: _root_.lib.Clanner)
<article class="GameCard game clanwar" style="background-image: url('https://cloud.githubusercontent.com/assets/2464813/12814159/d5a55016-cb34-11e5-9eca-2321924b0b4a.png')">
    <div class="w">
        <header>
            <h2>
                <a href="#dud">
                    <time is="local-time" datetime="2016-01-02T01:01:01Z" weekday="short" year="numeric" month="short" day="numeric">
                        2016-01-02T01:01:01Z
                    </time>
                </a>
                <a class="lcw" title="Incomplete clanwar" href="/questions/#completed-clanwar"><i class="fa fa-exclamation"></i></a>
            </h2>
        </header>

        <div class="teams">
            @clanwar.conclusion.teams.flatMap(team => clanner.get(team.clan).map(c => team -> c)).map { case (team, clan) =>
                @views.html.clanwar.render_clanwar_team(team, clan, showPlayers)
            }
        </div>
        <div class="g-achievements">
            <a href="/player/?id=pete">Pete won achievement X</a>
            <br/>
        </div>
    </div>

</article>

