@import views.rendergame.MixedGame
@import lib.Clanner

@import com.actionfps.players.PlayersStats
@import com.actionfps.stats.Clanstats
@import views.ladder.Table.PlayerNamer
@import lib.WebTemplateRender
@import views.clanwar.Clanwar.ClanIdToClan
@import com.actionfps.achievements.GameUserEvent
@(games: List[MixedGame], events: List[GameUserEvent],
        latestClanwars: List[com.actionfps.clans.ClanwarMeta],
        bulletin: Option[services.NewsService.NewsItems],
        ladder: com.actionfps.ladder.parser.Aggregate,
    playersStats: PlayersStats,
    clanStats: Clanstats

)(implicit clanner: Clanner, playerNamer: PlayerNamer, clanIdToClan: ClanIdToClan)
<div class="bordered" id="bulletins">
@bulletin.map { h =>
    <div class="bulletin">
        <div class="cnt">
            @h.htmlContent
        </div>
    </div>
}
</div>
<div id="live-events" class="bordered">
    <ol class="LiveEvents live-events">
        @events.take(7).map { event =>
            <li><a href="/player/?id=@event.userId">@event.frontEventText</a>
                <span> </span>
                <span class="when">
                    <relative-time datetime="@event.gameId">@event.gameId</relative-time>
                </span>
            </li>
        }
    </ol>
</div>


@views.Top10.render(clanStats, playersStats, ladder)
@views.ladder.Table.render(WebTemplateRender.wwwLocation.resolve("ladder_table.html"), ladder)(showTime = false)
@views.PlayerRanks.render(WebTemplateRender.wwwLocation.resolve(views.PlayerRanks.PlayerRanksFilename), playersStats)
@views.ClanRankings.render(clanStats)
<div id="latest-clanwars">
@latestClanwars.map { clanwar =>
    @views.clanwar.Clanwar.render(clanwarHtmlPath = WebTemplateRender.wwwLocation.resolve(views.clanwar.Clanwar.ClanwarHtmlFile), clanwar, showPlayers = false)
}
</div>
<div id="games">

    <div id="dynamic-games">

    </div>

    <div id="new-games"></div>

    <div id="existing-games">
    @games.map { game =>
        @views.rendergame.Render.renderMixedGame(game)
    }
    </div>
</div>
