@import views.rendergame.MixedGame
@import lib.Clanner
@import providers.ReferenceProvider
@import java.time.format.DateTimeFormatter
@(games: List[MixedGame], events: List[Map[String, String]],
        latestClanwars: List[com.actionfps.clans.ClanwarMeta],
        bulletin: Option[providers.ReferenceProvider.Heading],
        ladder: com.actionfps.ladder.parser.Aggregate,
    playersStats: com.actionfps.players.PlayersStats,
    clanStats: com.actionfps.clans.Clanstats

)(implicit clanner: Clanner)
<div class="bordered" id="bulletins">
@bulletin.map { h =>
    <div class="bulletin">
        <div class="when">
            <time is="relative-time" datetime="@h.at.format(DateTimeFormatter.ISO_OFFSET_DATE_TIME)">@h.at.format(DateTimeFormatter.ISO_OFFSET_DATE_TIME)</time>
        </div>
        <div class="cnt">
            @h.html
        </div>
    </div>
}
</div>
<div id="live-events" class="bordered">
    <ol class="LiveEvents live-events">
        @events.take(7).map { event =>
            <li><a href="/player/?id=@event("user")">@event("text")</a>
                <span> </span>
                <span class="when">
                    <time is="relative-time" datetime="@event("date")">@event("date")</time>
                </span>
            </li>
        }
    </ol>
</div>

@views.html.ladder.content(ladder)
@views.html.player_ranks(playersStats)
@views.html.clan_rankings(clanStats)

<div id="latest-clanwars">
@latestClanwars.map { clanwar =>
    @views.html.clanwar.render_clanwar(clanwar, false)
}
</div>
<div id="games">

    <div id="dynamic-games">

    </div>

    <div id="new-games"></div>

    <div id="existing-games">
    @games.map { game =>
        @views.html.rendergame.render_game(game)
    }
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script src="/assets/live/live.js"></script>
