@(servers: List[com.actionfps.reference.ServerRecord])
<article id="servers">
    <h2>AssaultCube</h2>
    @servers.groupBy(_.region).toList.sortBy(_._1).map { sr =>
        <h3>@sr._1</h3>
        <ul>
        @sr._2.sortBy(s => (s.hostname, s.port)).map { server =>
            <li><a href="@server.url">@server.name

            </a>
                @if(server.kind != "Standard") {
                    (@server.kind)
                }
            </li>

        }
        </ul>
    }

    <h2>In-game commands</h2>
    <ul>
        <li>
            <pre>!balance</pre>
            Balances teams accoring to ELO scores.
        </li>
        <li>
            <pre>!inter</pre>
            Notifies other players that you started an inter on some server. Notifications are sent to the website, our teamspeak server and a few IRC channels.
        </li>
        <li>
            <pre>!teams</pre>
            Groups players by clantag. Handy for clan wars.
        </li>
        <li>
            <pre>!sides</pre>
            Swaps teams.
        </li>
    </ul>

    <div id="join">
        <a id="server-join-link" href="">Join <span id="server-name"></span></a>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/assets/servers-join.js"></script>

</article>

