@(servers: List[com.actionfps.reference.ServerRecord])
<article id="servers">
    @servers.groupBy(_.kind).toList.sortBy(_._1).map { sl =>

        <h2>@sl._1</h2>
        @sl._2.groupBy(_.region).toList.sortBy(_._1).map { sr =>
            <h3>@sr._1</h3>
            <ul>
            @sr._2.sortBy(s => (s.hostname, s.port)).map { server =>
                <li><a href="@server.url">@server.name

                </a>
                    @if(server.kind != "Standard") {
                        (@server.kind)
                    }
                </li>

            }
            </ul>
        }
    }

    <p><a href="https://github.com/ScalaWilliam/ActionFPS/wiki/Frequently-Asked-Questions#do-you-have-in-game-commands-for-the-servers">In-game commands</a></p>

    <div id="join">
        <a id="server-join-link" href="">Join <span id="server-name"></span></a>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/assets/servers-join.js"></script>

</article>

