@import controllers.StatsController.lmWriter
@(gc: scala.collection.immutable.ListMap[java.time.ZonedDateTime, Int])
<div class="heatmap" data-json="@play.api.libs.json.Json.toJson(gc).toString"></div>

<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/calendar-heatmap/0.4.0/calendar-heatmap.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment-with-locales.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/calendar-heatmap/0.4.0/calendar-heatmap.min.js"></script>
<script type="text/javascript">
        (function (heatMapEl) {
            var data = JSON.parse(heatMapEl.getAttribute("data-json"));
            var chartData = data.map(function (item) {
                return {
                    date: new Date(item.date),
                    count: item.count
                }
            });
            var chart1 = calendarHeatmap()
                    .data(chartData)
                    .selector('.heatmap')
                    .colorRange(['#D8E6E7', '#218380'])
                    .tooltipUnit("game")
                    .tooltipEnabled(true);
            chart1();  // render the chart
        })(document.querySelector(".heatmap"));
</script>
