@import com.actionfps.accumulation.FullProfile
@import play.api.libs.json.Json
@(fullProfile: FullProfile)
<article id="profile">
    <div class="profile">
        <h1>@fullProfile.user.nickname.nickname</h1>

            <div class="main-info">
                @fullProfile.achievements.map { achievements =>
                <div class="basics">
                    <table class="basic-counts">
                        @fullProfile.locationInfo.flatMap(_.countryName).map { cn =>
                            <tr>
                                <th>Country</th>
                                <td colspan="3">@cn</td>
                            </tr>
                        }
                        <tr>
                            <th>Time played</th>
                            <td>@achievements.playerStatistics.timePlayedStr</td>
                            <th>Flags</th><td>@achievements.playerStatistics.flags</td>
                        </tr>
                        <tr>
                            <th>Games played</th><td>@achievements.playerStatistics.gamesPlayed</td>
                            <th>Frags</th><td>@achievements.playerStatistics.frags</td>
                        </tr>

                        @fullProfile.rank match {
                            case Some(rank) => {
                                <tr>
                                    <th>Elo Rank</th> <td>@rank.rank</td>
                                    <th>Elo Points</th> <td>@Math.round(rank.elo)</td>
                                </tr>
                            }
                            case _ => {
                                <tr>
                                    <th>Elo Rank</th> <td>Play more</td>
                                </tr>
                            }
                        }
                    </table>
                    @fullProfile.playerGameCounts.map { gc =>
                        <div class="heatmap" data-json="@Json.toJson(gc).toString"></div>

                        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/calendar-heatmap/0.4.0/calendar-heatmap.min.css"/>
                        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
                        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment-with-locales.min.js"></script>
                        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/calendar-heatmap/0.4.0/calendar-heatmap.min.js"></script>
                        <script type="text/javascript">
                                (function(heatMapEl) {
                                    var data = JSON.parse(heatMapEl.getAttribute("data-json"));
                                    var chartData = data.map(function(item) {
                                        return {
                                            date: new Date(item.date),
                                            count: item.count
                                        }
                                    });
                                    var chart1 = calendarHeatmap()
                                            .data(chartData)
                                            .selector('.heatmap')
                                            .colorRange(['#D8E6E7', '#218380'])
                                            .tooltipUnit("game")
                                            .tooltipEnabled(true);
                                    chart1();  // render the chart
                                })(document.querySelector(".heatmap"));
                        </script>
                    }
                </div>
                <div class="achievements">
                    <h3>Achievements</h3>

                    <div class="achievements">
                        @achievements.buildAchievements.completedAchievements.map { achievement =>
                            @views.html.player.completed_achievement(achievement)
                        }
                        @achievements.buildAchievements.partialAchievements.map { achievement =>
                            @views.html.player.progress_achievement(achievement)
                        }
                        @achievements.buildAchievements.switchNotAchieveds.map { achievement =>
                            @views.html.player.none_achievement(achievement)
                        }
                    </div>
                </div>
                }
                @views.html.player.recent_games(fullProfile.recentGames)
            </div>
    </div>

</article>

