@(servers: List[com.actionfps.servers.ServerRecord])
<article id="servers">
    <table>
        <col class="group-game"/>
        <col class="group-server"/>
        <col class="group-status"/>

        <thead>
            <tr>
                <th>Game</th>
                <th>Server</th>
                <th>Game Status</th>
            </tr>
        </thead>
        @servers.groupBy(_.kind).toList.sortBy(_._1).map { sl =>
            <tbody>

                @sl._2.groupBy(_.region).toList.sortBy(_._1).map { sr =>
                    @sr._2.sortBy(s => (s.hostname, s.port)).map { server =>

                        <tr class="server" data-server="@server.name">
                            <td>@sl._1</td>
                            <td><a href="@server.connectUrl">@server.name</a></td>
                            <td><a href="@server.joinUrl" class="game-status"></a> </td>
                        </tr>

                    }
                }
            </tbody>
        }
    </table>

    <p><a href="https://github.com/ScalaWilliam/ActionFPS/wiki/Frequently-Asked-Questions#do-you-have-in-game-commands-for-the-servers">In-game commands</a></p>

    <div id="join">
        <a id="server-join-link" href="">Join <span id="server-name"></span></a>

        <div id="server-status">

        </div>

        <a href="/servers/">&laquo; Back to server list </a>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/assets/servers-join.js"></script>

</article>

<script src="/assets/push/servers-page.js" type="text/javascript"></script>


<nav id="bottom-links">
    <a href="https://github.com/ActionFPS/clans/edit/master/servers.json">Edit servers</a>
</nav>
